html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F15B42;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: none;
}

#logo:hover { 
    transform: scale(1.05); /* Scale the logo slightly */ 
    opacity: 0.8; /* Slightly reduce opacity */
    background: none;
}

nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background-color: #ffcc5f;
    font-family: "Itim", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #66acee;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #F15B42;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.navlink a:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.listForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 100%;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.listForm label, .listForm input[type=text], .listForm select, .listForm .makeItemSubmit {
    display: block;
    width: auto;
    max-width: 300px;
    margin-bottom: 15px; 
}


.listForm label, .listform h2 {
    color: white;
}

.listForm h2{ 
    margin-bottom: 40px;
}

#titleStatus{
    margin-bottom: 50px;
    border-radius: 20px;
}

.makeItemSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeItemSubmit:link, .makeItemSubmit:visited, .makeItemSubmit:hover, .makeItemSubmit:active {
    color: white;
}

.makeItemSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}


#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#itemMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#itemMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#errorImage {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#items {
    width: 40%;
    min-width: 400px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

#copyList{
    width: 100%;
    font-size: medium;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.item:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}


img.domoFace {
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
}

h3.emptyList {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.titleName, h4.titleStatus, #deleteButton{
    justify-content: flex-start;
}

h3.titleName {
    text-align: center;
    width: 200px;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.5em;
}

h4.titleStatus{
    margin-bottom: 35px;
}

#deleteButton{
    margin-bottom: 20px;
    font-size: medium;
}


#titleName {
    margin-bottom: 40px;
    border-radius: 20px;
}

.item:first-child {
    margin-top: 10px;
}

.item:last-child {
    margin-bottom:10px;
}

/**styles for login/signup pages**/

/* Parent container with flex properties */
.loginContainer, .signupContainer, .changeContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    background-color: #F15B42; /* Optional: Add background color */
    color: #F15B42;
}

/* Styles for the login form */
#loginForm, #signupForm, #changeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ensure content is centered within the form */
    background-color: #ffcc5f;
    width: 30%;
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for effect */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    border: solid 2px #66acee;
}

#loginForm label, #signupForm label, #changeForm label{
    font-family: "Itim", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
}

#loginForm label,
#loginForm input,#signupForm label,
#signupForm input,#changeForm label,
#changeForm input {
    margin-bottom: 15px; 
}

#loginForm input, #signupForm input, #changeForm input {
    border: none; /* Remove default border */ 
    border-bottom: 2px solid #F15B42; /* Add bottom border */
    outline: none; /* Remove outline on focus */ 
    padding: 5px 0; /* Add some padding */ 
    width: 50%;
    border-radius: 0;
}

#loginForm input:focus, #signupForm input:focus, #changeForm input:focus {
    outline: none;
    box-shadow: none;
}

#loginForm input.formSubmit, #signupForm input.formSubmit, #changeForm input.formSubmit {
    margin-top: 20px; /* Space above submit button */
    background: #66acee;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid #F15B42;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    color:#F15B42;
    font-family: "Itim", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    
}

#loginForm input.formSubmit:hover, #signupForm input.formSubmit:hover, #changeForm input.formSubmit:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

#loginForm input.formSubmit:active, #signupForm input.formSubmit:active, #changeForm input.formSubmit:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

#user, #pass, #pass2{
    background-color: #ffcc5f;
    font-family: "Fredoka", serif; 
    font-weight: 400;
    font-style: normal;     
    color: #66acee;
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}